
<nav class="red lighten-1">
    <div class="nav-wrapper">
      <a routerLink="/home" class="brand-logo"><img src="assets/prueba10.png"></a>
      <a href="#" materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!--<li routerLinkActive="active"><a routerLink="/home">Inicio</a></li>-->
        <li routerLinkActive="active"><a routerLink="/nosotros">Nosotros</a></li>
        <li routerLinkActive="active"><a routerLink="/agendacultural">Agenda Cultural</a></li>
        <li routerLinkActive="active"><a routerLink="/convocatorias">Convocatorias</a></li>
        <li><a href="https://www.facebook.com/pozaricacultura/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.twitter.com/pozaricacultura/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/pozaricacultura/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/pozaricacultura/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        <li><a class="waves-effect waves-light btn" routerLink="/feriadelasartes"><img src="assets/artes02.png"></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="menuchiquito" routerLink="/home">Inicio</a></li>
        <li><a class="menuchiquito" routerLink="/nosotros">Nosotros</a></li>
        <li><a class="menuchiquito" routerLink="/agendacultural">Agenda Cultural</a></li>
        <li><a class="menuchiquito" routerLink="/convocatorias">Convocatorias</a></li>
        <li><a class="waves-effect waves-light btn"><img src="assets/artes02.png"></a></li>
        <li><a href="https://www.facebook.com/pozaricacultura/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.twitter.com/pozaricacultura/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/pozaricacultura/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/pozaricacultura/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      </ul>
    </div>
</nav>
