<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Dirección de Cultura Poza Rica</h5>
        <p class="grey-text text-lighten-4">Calle Falsa #123</p>
        <p class="grey-text text-lighten-4">Poza Rica, Veracruz, Mexico</p>
        <p class="grey-text text-lighten-4">+52 (782) 8263400</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Mas ligas</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/home">Inicio</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/nosotros">Nosotros</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/agendacultural">Agenda Cultural</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/convocatorias">Convocatorias</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/convocatorias">Todos Somos Poza Rica</a></li>
          <li><a class="waves-effect waves-light btn" routerLink="/feriadelasartes"><img src="assets/artes02.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4" href="http://www.richlira.com" target="_blank">© 2017 RichLira.com</a>
      <p class="grey-text text-lighten-4 right">Version 2.0</p>
    </div>
  </div>
</footer>
