<div class="row red lighten-2">
  <div class="col s12">
    <h3 id="titulo">Nosotros</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <p id="titulocarta" class="red-text text-darken-1">Bienvenidos:</p>
      <p id="carta" class="z-">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p id="carta">Su amiga</p>
      <p id="firma">Alma Chavez</p>
    </div>
    <div class="col s12 m6">
      <img id="top" class="responsive-img z-depth-5 materialboxed" src="assets/fototodos.jpg">
    </div>
  </div>
</div>
<footer class="page-footer red lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Dirección de Cultura Poza Rica</h5>
        <p class="grey-text text-lighten-4">Todos somos Poza Rica</p>
        <p class="grey-text text-lighten-4">+52 (782) 8263400</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/home">Inicio</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/nosotros">Nosotros</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/agendacultural">Agenda Cultural</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/convocatorias">Convocatorias</a></li>
          <li><a class="waves-effect waves-light btn" routerLink="/feriadelasartes"><img src="assets/artes02.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4" href="http://www.richlira.com" target="_blank">© 2017 RichLira.com</a>
      <p class="grey-text text-lighten-4 right">Version 2.0</p>
    </div>
  </div>
</footer>

