<div class="row red lighten-2">
  <div class="col s12">
      <h3 id="titulo">Convocatorias</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h3>Hola:</h3>
      <p>Actualmente no tenemos convocatorias por el momento.</p>
      <p>Mientras tanto, te invitamos a que nos sigas en redes sociales para futuros anuncios y mas.</p>
    </div>
    <div class="col s12 m6">
      <div style="width:100%;height:0;padding-bottom:76%;position:relative;"><iframe src="https://giphy.com/embed/4bBLOhnMb0vHG" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/britney-cry-atrl-4bBLOhnMb0vHG">via GIPHY</a></p>
    </div>
  </div>
</div>

<app-footer></app-footer>
