<div materialize="slider" class="slider">
  <ul class="slides">
    <li>
      <img src="assets/foto01.jpg">
      <div class="caption center-align">
        <h2>Bienvenido</h2>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="assets/foto02.jpg">
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="assets/foto03.jpg">
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text tng ext-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="assets/foto04.jpg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>


<div class="container">
  <div class="row center">
      <div class="col s12 m4">
        <img class="responsive-img" src="assets/pozarica04.png">
      </div>
      <div class="col s12 m4">
        <img class="responsive-img"src="assets/pozarica05.png">
      </div>
      <div class="col s12 m4">
        <img class="responsive-img" src="assets/pozarica06.png">
      </div>
  </div>
</div>



<!--
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <p id="titulo" class="red-text text-darken-1">Bienvenidos:</p>
      <p id="carta" class="z-">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p id="carta">Su amiga</p>
      <p id="firma">Alma Chavez</p>
    </div>
    <div class="col s12 m6">
      <img id="top" class="responsive-img z-depth-5" src="assets/fototodos.jpg">
    </div>
  </div>
</div>
-->

<div class="row amber lighten-3" style="padding:0px; margin:0px;">
  <br>
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/poster01.jpg">
          <span class="card-title">Diversidad Cultural</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/agendacultural/0">14 a 16 de Junio de 2017</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/poster02.jpg">
          <span class="card-title">Ciclismo</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/agendacultural/0">2 de Julio de 2017</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/poster03.jpg">
          <span class="card-title">Verano Poza Rica</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/agendacultural/0">3 de Agosto de 2017</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
